<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <a href="">IFEANYI</a>
                <ul class="flex">
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="section">
            <div class="container">
                <div class="one-col-grid">
                    <h1 class="h1">Ifeanyi Chima</h1>
                    <p>I am a software developer. I love to code and create beautiful computer programs. I am looking for a job. I have over 2 years of experience in writing javascript applications.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>Ifeanyi Chima</p>
        </div>
    </footer>
</body>

</html>