<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifeanyi Chima</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <a href="">IFEANYI</a>
                <ul class="flex">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="section">
            <div class="container">
                <div class="one-col-grid">
                    <h1>Ifeanyi Chima</h1>
                    <p>To find me on social media</p>
                    <a href="https://github.com/masterifeanyi" target="_blank">Github</a>
                    <a href="https://linkedin.com/ifeanyi-thankgod-chima" target="_blank">Linkedin</a>
                    <a href="https://twitter.com/@ifeanyiTchima" target="_blank">Twitter</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>Ifeanyi Chima</p>
        </div>
    </footer>
</body>

</html>