<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ifeanyi Chima</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <a href="">IFEANYI</a>
                <ul class="flex">
                    <li><a href="#">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="section">

            <div class="container">
                <div class="one-col-grid">
                    <h1>Ifeanyi Chima</h1>
                    <p>A software developer with specialisation in Javascript</p>
                </div>
            </div>
        
            <div class="container">
                <div class="row">
                    <p><strong>Name:</strong> Ifeanyi Chima</p>
                    <p><strong>State of Origin:</strong> Imo state</p>
                    <p><strong>Relationship:</strong> Single</p>
                    <p><strong>Date of Birth:</strong> 24th of May, 2001</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>Ifeanyi Chima</p>
        </div>
    </footer>
</body>
</html>